
body{
  font-family: 'Poppins';
}

h1 {
    font-size: x-large;
}

.img-thumbnail {
    border: 2px solid #333; /* Establece un borde sólido oscuro */
    border-radius: 4px; /* Añade esquinas redondeadas si deseas */
  }

  .image-container {
    overflow: hidden; 
    height: 30%; 
  }

.title {
  padding-bottom: 10%;
  padding-top: 10%;
}

.title h2 {
  border: solid black;
}

.pega-item {
  justify-content: space-between;
  padding-bottom: 2%;
}

.cargo {
  text-align: left;
}

.card-title {
  font-weight: bolder;
}

.card