h1 {
    font-size: x-large;
}

#Hero-Section {
  background-image: url("/assets/imgs/bg-hero.jpg");
  width: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;  
}
